body {
  background: rgb(82, 86, 89);
  margin: 60px 0 0 0 !important;
  padding: 0 !important;
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);

  /* A4 size */
  width: 8.5in;
  height: 11in;

  /* Match chrome print to pdf margins */
  width: calc(8.5in - 2cm);
  padding: 0.5cm 1cm;
}