doctype html
html(lang="en")
  head
    title Resume Preview
    script(src='/reload/reload.js')
    style: include:clean-css ../node_modules/normalize.css/normalize.css
    if preview
      style: include:sass sass/a4-page.scss
    style: include:sass sass/main.scss
  body
    page
      h1 James Kiefer
      h3 Full Stack Web Developer & Drone Pilot
      h3 248-818-1092 ♠ kiefer.james@gmail.com
      h2 Technical Proficiencies
      table
        tr
          th Professional
          th Proficient
          th Familiar
        tr
          td Hello
          td Sepp
          td Hay
        tr
          td Hello
          td Sepp
          td Hay
        tr
          td Hello
          td Sepp
          td Hay
        tr
          td Hello
          td Sepp
          td Hay
      h2 Professional Experience (n Years)
      p Test